<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head",{title:"Register"})%>
    <body>
        <header><h1>Register Form</h1></header>
        <main>
        <form class="auth-form" action="/auth/register" method="post">
           <div> <label for="firstName">First Name</label>
            <input type="text" name="firstName" id="firstName" /></div>
            <div><label for="lastName">Last Name</label>
            <input type="text" name="lastName" id="lastName" /></div>
            <div><label for="email">Email</label>
            <input type="email" name="email" id="email" /></div>
            <div><label for="password">Password</label>
            <input type="password" name="password" id="password" /></div>
            <div><label for="confirmPassword">Confirm Password</label>
            <input
                type="password"
                name="confirmPassword"
                id="confirmPassword"
            /></div>
            <button type="submit">Submit</button>
            <%- include("../partials/errors",{errors:locals?.errors})%>
        </form></main>
        <%- include("../partials/aside",{active:"register"})%>
    </body>
</html>
